@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: 'Outfit';
    background: #001D39;
}
video{
    width: 50%;
}
main {
    padding: 200px;
}

#contatos-e-links {
    background: #001D39;
    background: linear-gradient(180deg, rgba(0, 29, 57, 1) 0%, rgba(0, 0, 0, 1) 64%);
    padding: 200px;
}

@media (max-width: 800px) {
    main {
        padding: 20px;
    }

    #contatos-e-links {
        padding: 20px;
    }
}

header {
    padding: 1% 0;
    text-align: right;
    position: sticky;
    top: 0;
    background: #082642;
    background: linear-gradient(180deg, rgba(8, 38, 66, 1) 0%, rgba(0, 29, 57, 0) 100%);
    z-index: 1000;
    width: 100%;
}

.mobile {
    display: none;
}

@media (max-width: 480px) {
    .mobile {
        display: inherit;
        align-items: right;
        position: sticky;
        top: 0;
        background: #082642;
        background: linear-gradient(180deg, rgba(8, 38, 66, 1) 0%, rgba(0, 29, 57, 0) 100%);
        z-index: 1000;
        width: 100%;
    }

    header {
        display: none;
    }
}

header>a {
    margin-right: 2%;
}

i {
    margin-right: 2%;
    color: #6EA2B3;
}

a {
    text-decoration: none;
    color: #6EA2B3;
}

p {
    color: #7BBDE8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #BDD8E9;
}

.container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.left,
.right {
    flex: 1
}

#projetos {
    margin-bottom: 10%;
}